---
import { Button } from "@/components/ui/button";
import { Checkbox } from "@radix-ui/react-checkbox";
import { Trash2 } from "lucide-react";

const data = await Astro.request.formData();

//const name = data.get("name");
const id = "2";
const completed = true;
const description = "something";

export const prerender = false;
export const partial = true;
---

<li class="flex justify-start gap-2 items-center">
  <Checkbox
    id={id}
    name={id}
    checked={completed}
    hx-vals={JSON.stringify({ id, completed })}
    hx-patch=`/partials/checkbox`
    hx-swap="outerHTML swap:1s"
    hx-trigger="click throttle:1s"
  />
  <label class="me-auto" for={id}>{description}</label>
  <Button
    variant="ghost"
    size="icon"
    hx-delete=`/api/todo/${id}`
    hx-target="closest li"
    hx-swap="outerHTML swap:1s"
    hx-trigger="click throttle:1s"
  >
    <Trash2 />
  </Button>
</li>
