---
import { Button } from "@/components/ui/button";
import { Checkbox } from "@/components/ui/checkbox";
import { Trash2 } from "lucide-react";

const { userId, todoId, task, done, created } = Astro.props;
console.log("TodoListItem.astro", { todoId, task, done, created });
// prob don't need userId as it's on local object
---

<li class="flex justify-start gap-2 items-center">
  <Checkbox
    id={todoId}
    name={todoId}
    checked={done === "true" ? true : false}
    hx-vals={JSON.stringify({ todoId, userId, done })}
    hx-patch=`/partials/checkbox`
    hx-swap="outerHTML swap:1s"
    hx-trigger="click throttle:1s"
  />
  <label class="me-auto" for={todoId}>{task}</label>
  <Button
    variant="ghost"
    size="icon"
    hx-delete=`/api/todos/${todoId}`
    hx-target="closest li"
    hx-swap="outerHTML swap:1s"
    hx-trigger="click throttle:1s"
  >
    <Trash2 />
  </Button>
</li>
